# Configuration file

####################
# general
#===================
# Tinkers' Construct Advanced Smeltery Recipes
# Adds smeltery recipes for other mod items and blocks
# Required Mods:
# 	- TConstruct
####################

general {
    # Adds all types of items/blocks to the smeltery, if activated
    # Default: true
    B:addAluminumRecipes=true

    # Default: true
    B:addBronzeRecipes=true

    # Default: true
    B:addCopperRecipes=true

    # Default: true
    B:addElectrumRecipes=true

    # Default: true
    B:addGoldRecipes=true

    # Default: true
    B:addInvarRecipes=true

    # Default: true
    B:addIronRecipes=true

    # Default: true
    B:addLeadRecipes=true

    # Default: true
    B:addNickelRecipes=true

    # Default: true
    B:addPlatinumRecipes=true

    # Default: true
    B:addSilverRecipes=true

    # Default: true
    B:addSteelRecipes=true

    # Default: true
    B:addTinRecipes=true

    # To add a item to the block list add the id:meta
    # Example:
    # 	123#1	Item/Block with metadata
    # 	123#*	Item/Block with each metadata
    S:blockedItems <
     >
}


