# Configuration file

####################
# block
####################

block {
    I:BlockID1=1910
    I:"Radioactive Block"=1911
    I:accelerator=1912
    I:atomicAssembler=1913
    I:centrifuge=1914
    I:chemicalExtractor=1915
    I:controlRod=1916
    I:electromagnet=1917
    I:electromagnetGlass=1918
    I:fissionReactor=1919
    I:fulmination=1920
    I:funnel=1921
    I:fusionReactor=1922
    I:instantBuilder=1923
    I:nuclearBoiler=1924
    I:plasma=1925
    I:reactorTap=1926
    I:siren=1927
    I:thermometer=1928
    I:toxicWaste=1929
    I:turbine=1930
}


####################
# general
####################

general {
    B:"Allow Alternate Recipes"=true
    B:"Allow Layered Turbines"=true
    B:"Allow Radioactive Ores"=true
    B:"Allow Toxic Waste"=true
    B:"Allow Uranium Ore Dictionary Compatiblity"=true
    B:"Auto Disable Uranium If Exist"=true
    B:"Disable IC2 Uranium Compression (Recommended)"=true
    D:"Fulmination Output Multiplier"=1.0
    I:"Steam to Joule Ratio"=5000
    D:"Turbine Output Multiplier"=1.0
    I:"Uranium Hexafluoride Ratio"=200
}


####################
# item
####################

item {
    I:HazmatBody=19100
    I:HazmatBoots=19101
    I:HazmatBottom=19102
    I:HazmatTop=19103
    I:"Toxic Waste Bucket"=19104
    I:antimatter=19105
    I:cellDeuterium=19106
    I:cellEmpty=19107
    I:cellWater=19108
    I:rodBreederFuel=19109
    I:rodFissileFuel=19110
    I:strangeMatter=19111
    I:thermometer=19112
    I:uranium=19113
    I:yellowcake=19114
}


####################
# ore_generation
####################

ore_generation {
    B:"Generate Uranium Ore"=false
}


