# Configuration file

####################
# """""""""""allow load items"""""""""""
####################

""""""""""""allow load items"""""""""""" {
    B:itemCircuitAdvanced=true
    B:itemCircuitBasic=true
    B:itemCircuitElite=true
    B:itemWrench=true
}


####################
# block
####################

block {
    I:multiPart=1903
}


####################
# crafting
####################

crafting {
    B:"Allow item.resonant:circuitAdvanced Crafting"=true
    B:"Allow item.resonant:circuitBasic Crafting"=true
    B:"Allow item.resonant:circuitElite Crafting"=true
    B:"Allow item.resonant:screwdriver Crafting"=true
}


####################
# creaivemodetools
####################

creaivemodetools {
    B:CreativeBuilder=false
    B:InfiniteSource=false
}


####################
# """""""""""disable poison"""""""""""
####################

""""""""""""disable poison"""""""""""" {
    B:"Disable radiation"=false
}


####################
# general
####################

general {
    B:Enable_Calclavia_Core_Resources=false
    B:Enable_Calclavia_Core_Tools=true
    B:"Engineering Table Autocraft"=true
    D:"Levitator Acceleration"=0.02
    I:"Levitator Max Reach"=40
    D:"Levitator Max Speed"=0.2
    I:"Levitator Push Delay"=5
    I:"Max EM Contractor Path"=200
    B:"Shiny silver Wires"=true
    B:"Tesla Sound FXs"=true
    B:allowAlternateRecipes=true
    B:allowIC2UraniumCompression=true

    # Allow the Resource Generator to make ore dictionary compatible recipes?
    B:allowOreDictCompatibility=true
    B:allowOreDictionaryCompatibility=true
    B:allowRadioactiveOres=true
    B:allowToxicWaste=true
    B:allowTurbineStacking=true
    D:darkMatterSpawnChance=0.2
    I:deutermiumPerTritium=4
    D:fissionBoilVolumeMultiplier=1.0
    D:fulminationOutputMultiplier=1.0

    # The speed in which the grate drains blocks. Dependent on grate block influence.
    D:grateDrainSpeedMultiplier=0.01

    # The multiplier for the influence of the grate. Dependent on pressure.
    D:grateEffectMultiplier=5.0
    I:mechanicalPistonBreakCount=5
    I:plasmaHeatAmount=100
    I:plasmaMaxTemperature=1000000

    # 0 = Do not generate, 1 = Generate items only, 2 = Generate all
    I:quantumAssemblerGenerateMode=1

    # Put a list of block/item IDs to be used by the Quantum Assembler. Separate by commas, no space.
    I:quantumAssemblerRecipes <
     >
    D:steamMultiplier=1.0
    D:turbineOutputMultiplier=1.0
    I:uraniumHexaflourideRatio=200
    I:waterPerDeutermium=4
}


####################
# item
####################

item {
    I:circuitAdvanced=19000
    I:circuitBasic=19001
    I:circuitElite=19002
    I:screwdriver=19005
}


####################
# item_railings
####################

item_railings {
    I:MAX_TICKS_IN_RAILING=5
}


####################
# """""""""""potion id"""""""""""
####################

""""""""""""potion id"""""""""""" {
    I:"radiation ID"=21
}


####################
# power
####################

power {
    I:Solor_Panel=50
    I:Water_tubine_Ratio=1
    I:Wind_tubine_Ratio=1
}


####################
# resource_generator
####################

resource_generator {
    B:Enable_All=true
    B:Enabled_All_Fluids=false
}


