# Configuration file

####################
# block
####################

block {
    I:DebugBlock=1950
    I:FluidMixture=1951
    I:armbot=1952
    I:battery=1953
    I:conveyorBelt=1954
    I:crate=1955
    I:detector=1956
    I:encoder=1957
    I:engineeringTable=1958
    I:firebox=1959
    I:generator=1960
    I:grate=1961
    I:grindingWheel=1962
    I:hotPlate=1963
    I:imprinter=1964
    I:levitator=1965
    I:machinePart=1966
    I:manipulator=1967
    I:pump=1968
    I:purifier=1969
    I:rejector=1970
    I:solarPanel=1971
    I:tank=1972
    I:tesla=1973
    I:turntable=1974
}


####################
# enabled_list
####################

enabled_list {
    B:"Enabled BlockArmbot"=true
    B:"Enabled BlockBattery"=true
    B:"Enabled BlockConveyorBelt"=true
    B:"Enabled BlockCrate"=true
    B:"Enabled BlockDebug"=true
    B:"Enabled BlockDetector"=true
    B:"Enabled BlockEncoder"=true
    B:"Enabled BlockEngineeringTable"=true
    B:"Enabled BlockFirebox"=true
    B:"Enabled BlockGenerator"=true
    B:"Enabled BlockGrate"=true
    B:"Enabled BlockGrinderWheel"=true
    B:"Enabled BlockHotPlate"=true
    B:"Enabled BlockImprinter"=true
    B:"Enabled BlockLevitator"=true
    B:"Enabled BlockMachinePart"=true
    B:"Enabled BlockManipulator"=true
    B:"Enabled BlockPump"=true
    B:"Enabled BlockPurifier"=true
    B:"Enabled BlockRejector"=true
    B:"Enabled BlockSolarPanel"=true
    B:"Enabled BlockTank"=true
    B:"Enabled BlockTesla"=true
    B:"Enabled BlockTurntable"=true
    B:Enabled_ItemBlockImprint=true
    B:Enabled_ItemGear=true
    B:Enabled_ItemMultimeter=true
    B:Enabled_ItemPipe=true
    B:Enabled_ItemPipeGauge=true
    B:Enabled_ItemTransformer=true
    B:Enabled_ItemWire=true
}


####################
# general
####################

general {
    D:"Contractor Item Acceleration"=0.02
    I:"Contractor Item Push Delay"=5
    I:"Contractor Max Item Reach"=40
    D:"Contractor Max Item Speed"=0.2
    I:"Furnace Wattage Per Tick"=50000
    I:"Max EM Contractor Path"=200
    B:"Replace vanilla furnace"=true
    B:"Shiny silver wires"=true
    B:"Tesla Sound FXs"=true
}


####################
# item
####################

item {
    I:PipeGuage=19501
    I:gear=19502
    I:imprint=19503
    I:multimeter=19504
    I:oreDust=19505
    I:oreRefinedDust=19506
    I:oreRubble=19507
    I:pipe=19508
    I:transformer=19509
    I:wire=19510
}


