# Configuration file

####################
# block
####################

block {
    I:accelerator=1912
    I:armbot=3033
    I:battery=3028
    I:breaker=3025
    I:castingMold=3010
    I:centrifuge=1914
    I:chemicalExtractor=1915
    I:controlRod=1916
    I:conveyorBelt=3017
    I:crate=3004
    I:detector=3019
    I:dust=3001
    I:electricTurbine=1935
    I:electromagnet=1917
    I:engineeringTable=3003
    I:filter=3013
    I:firebox=3007
    I:fulmination=1920
    I:funnel=1921
    I:grate=3012
    I:grindingWheel=3022
    I:gutter=3011
    I:hotPlate=3008
    I:imprinter=3005
    I:industrialStone=3034
    I:machineMaterial=3000
    I:manipulator=3018
    I:mechanicalPiston=3024
    I:millstone=3009
    I:mixer=3023
    I:molten_lead=3032
    I:motor=3030
    I:nuclearBoiler=1924
    I:placer=3026
    I:plasma=1925
    I:plasmaHeater=1936
    I:pump=3021
    I:quantumAssembler=1931
    I:radioactive=1932
    I:reactorCell=1937
    I:refinedDust=3002
    I:siren=1927
    I:solarPanel=3029
    I:sorter=3020
    I:tank=3014
    I:tesla=3027
    I:thermometer=1928
    I:thermopile=3031
    I:toxicWaste=1929
    I:turntable=3006
    I:uraniumOre=1934
    I:waterTurbine=3016
    I:windTurbine=3015
}


####################
# enabled_list
####################

enabled_list {
    B:Enabled_biomass=true
    B:Enabled_charger=true
    B:Enabled_devStaff=true
    B:Enabled_flour=true
    B:Enabled_gear=true
    B:Enabled_gearShaft=true
    B:Enabled_hammer=true
    B:Enabled_handCrank=true
    B:Enabled_imprint=true
    B:Enabled_levitator=true
    B:Enabled_multimeter=true
    B:Enabled_pipe=true
    B:Enabled_quantumGlyph=true
    B:Enabled_railing=true
    B:Enabled_transformer=true
    B:Enabled_uranium=true
    B:Enabled_wire=true
}


####################
# general
####################

general {
    I:BlockIDPrefix=3000
    B:"Engineering Table Autocraft"=true
    I:ItemIDPrefix=30000
    D:"Levitator Acceleration"=0.02
    I:"Levitator Max Reach"=40
    D:"Levitator Max Speed"=0.2
    I:"Levitator Push Delay"=5
    I:"Max EM Contractor Path"=200
    B:"Shiny silver Wires"=true
    B:"Tesla Sound FXs"=true
    B:allowAlternateRecipes=true
    B:allowIC2UraniumCompression=true
    B:allowOreDictCompatibility=true
    B:allowOreDictionaryCompatibility=true
    B:allowRadioactiveOres=true
    B:allowToxicWaste=true
    B:allowTurbineStacking=true
    D:darkMatterSpawnChance=0.2
    I:deutermiumPerTritium=4
    D:fissionBoilVolumeMultiplier=1.0
    D:fulminationOutputMultiplier=1.0
    D:grateDrainSpeedMultiplier=0.01
    D:grateEffectMultiplier=5.0
    I:mechanicalPistonBreakCount=5
    I:plasmaHeatAmount=100
    I:plasmaMaxTemperature=1000000
    I:quantumAssemblerGenerateMode=1
    I:quantumAssemblerRecipes <
     >
    D:turbineOutputMultiplier=1.0
    I:uraniumHexaflourideRatio=200
    I:waterPerDeutermium=4
}


####################
# item
####################

item {
    I:HazmatBody=19100
    I:HazmatBoots=19101
    I:HazmatBottom=19102
    I:HazmatTop=19103
    I:"Toxic Waste Bucket"=19104
    I:antimatter=19105
    I:biomass=30023
    I:bucketMixture=30003
    I:bucketMolten=30004
    I:cellDeuterium=19106
    I:cellEmpty=19107
    I:cellTritium=19118
    I:cellWater=19108
    I:charger=30014
    I:darkMatter=19116
    I:devStaff=30021
    I:flour=30022
    I:gear=30008
    I:gearShaft=30009
    I:hammer=30007
    I:handCrank=30005
    I:imprint=30006
    I:insulation=30016
    I:laserDrill=30018
    I:levitator=30015
    I:multimeter=30012
    I:oreDust=30001
    I:oreRefinedDust=30002
    I:oreRubble=30000
    I:pipe=30010
    I:quantumGlyph=30017
    I:railing=30020
    I:rodBreederFuel=19109
    I:rodFissileFuel=19110
    I:transformer=30013
    I:uranium=19113
    I:wire=30011
    I:yellowcake=19114
}


####################
# item_railings
####################

item_railings {
    I:MAX_TICKS_IN_RAILING=5
}


####################
# ore_generation
####################

ore_generation {
    B:"Generate Uranium Ore"=false
}


####################
# power
####################

power {
    I:Solor_Panel=50
    I:Water_tubine_Ratio=1
    I:Wind_tubine_Ratio=1
}


####################
# resource_generator
####################

resource_generator {
    B:"Enable Adamant"=true
    B:"Enable Adamantine"=true
    B:"Enable Adamantium"=true
    B:"Enable Aluminium"=true
    B:"Enable AluminiumBrass"=true
    B:"Enable Aluminum"=true
    B:"Enable AluminumBrass"=true
    B:"Enable Alumite"=true
    B:"Enable Americium"=true
    B:"Enable Antimony"=true
    B:"Enable Ardite"=true
    B:"Enable AstralSilver"=true
    B:"Enable BatteryAlloy"=true
    B:"Enable Beryllium"=true
    B:"Enable BlackSteel"=true
    B:"Enable BlueAlloy"=true
    B:"Enable Blutonium"=true
    B:"Enable Brass"=true
    B:"Enable Bronze"=true
    B:"Enable Cadmium"=true
    B:"Enable Caesium"=true
    B:"Enable Cerium"=true
    B:"Enable Chrome"=true
    B:"Enable Cobalt"=true
    B:"Enable CobaltBrass"=true
    B:"Enable ConductiveIron"=true
    B:"Enable Copper"=true
    B:"Enable Cupronickel"=true
    B:"Enable Cyanite"=true
    B:"Enable DamascusSteel"=true
    B:"Enable DarkIron"=true
    B:"Enable DeepIron"=true
    B:"Enable Desh"=true
    B:"Enable Duranium"=true
    B:"Enable Dysprosium"=true
    B:"Enable ElectricalSteel"=true
    B:"Enable Electrum"=true
    B:"Enable ElectrumFlux"=true
    B:"Enable Enderium"=true
    B:"Enable EnergeticAlloy"=true
    B:"Enable EnrichedCopper"=true
    B:"Enable Erbium"=true
    B:"Enable Europium"=true
    B:"Enable Force"=true
    B:"Enable FzDarkIron"=true
    B:"Enable Gadolinium"=true
    B:"Enable Gold"=true
    B:"Enable Graphite"=true
    B:"Enable HSLA"=true
    B:"Enable Holmium"=true
    B:"Enable HotElectrumFlux"=true
    B:"Enable HotEnderium"=true
    B:"Enable HotErbium"=true
    B:"Enable HotKanthal"=true
    B:"Enable HotLutetium"=true
    B:"Enable HotScandium"=true
    B:"Enable HotThulium"=true
    B:"Enable HotTungsten"=true
    B:"Enable HotTungstenSteel"=true
    B:"Enable HotUltimet"=true
    B:"Enable HotYttrium"=true
    B:"Enable Indium"=true
    B:"Enable InfusedGold"=true
    B:"Enable Invar"=true
    B:"Enable Iridium"=true
    B:"Enable Iron"=true
    B:"Enable IronWood"=true
    B:"Enable Kanthal"=true
    B:"Enable Lanthanum"=true
    B:"Enable Lead"=true
    B:"Enable Lutetium"=true
    B:"Enable Magnalium"=true
    B:"Enable Magnesium"=true
    B:"Enable Magnetite"=true
    B:"Enable Manganese"=true
    B:"Enable Manyullyn"=true
    B:"Enable Meat"=true
    B:"Enable MeatRaw"=true
    B:"Enable MeteoricIron"=true
    B:"Enable MeteoricSteel"=true
    B:"Enable Midasium"=true
    B:"Enable Mithril"=true
    B:"Enable Molybdenum"=true
    B:"Enable Naquadah"=true
    B:"Enable NaquadahAlloy"=true
    B:"Enable NaturalAluminum"=true
    B:"Enable Neodymium"=true
    B:"Enable NetherSulfur"=true
    B:"Enable NetherTitanium"=true
    B:"Enable Neutronium"=true
    B:"Enable Nichrome"=true
    B:"Enable Nickel"=true
    B:"Enable Niobium"=true
    B:"Enable Obsidian"=true
    B:"Enable Osmiridium"=true
    B:"Enable Osmium"=true
    B:"Enable Palladium"=true
    B:"Enable PigIron"=true
    B:"Enable Plastic"=true
    B:"Enable Platinum"=true
    B:"Enable Plutonium"=true
    B:"Enable Plutonium241"=true
    B:"Enable Praseodymium"=true
    B:"Enable Promethium"=true
    B:"Enable PulsatingIron"=true
    B:"Enable RedAlloy"=true
    B:"Enable RefinedGlowstone"=true
    B:"Enable RefinedIron"=true
    B:"Enable RefinedObsidian"=true
    B:"Enable Rubber"=true
    B:"Enable Rubidium"=true
    B:"Enable Rutile"=true
    B:"Enable Samarium"=true
    B:"Enable Scandium"=true
    B:"Enable ShadowIron"=true
    B:"Enable ShadowSteel"=true
    B:"Enable Silicon"=true
    B:"Enable Silver"=true
    B:"Enable SolderingAlloy"=true
    B:"Enable StainlessSteel"=true
    B:"Enable Steel"=true
    B:"Enable SteelLeaf"=true
    B:"Enable Sunnarium"=true
    B:"Enable Tantalum"=true
    B:"Enable Tellurium"=true
    B:"Enable Terbium"=true
    B:"Enable Thaumium"=true
    B:"Enable Thorium"=true
    B:"Enable Thulium"=true
    B:"Enable Tin"=true
    B:"Enable Titanium"=true
    B:"Enable Tritanium"=true
    B:"Enable Tungsten"=true
    B:"Enable TungstenSteel"=true
    B:"Enable Ultimet"=true
    B:"Enable Unstable"=true
    B:"Enable Uranium"=true
    B:"Enable Uranium235"=true
    B:"Enable Vanadium"=true
    B:"Enable VibrantAlloy"=true
    B:"Enable WroughtIron"=true
    B:"Enable Yellorium"=true
    B:"Enable Ytterbium"=true
    B:"Enable Yttrium"=true
    B:"Enable Zinc"=true
    B:Enable_All=true
    B:Enabled_All_Fluids=false
}


