# Configuration file

####################
# block
####################

block {
    I:Block=1250
    I:Block2=1251
    I:LightSource=1252
    I:Machine=1253
    I:Ore=1255
    I:Stone1=1254
}


####################
# crops
####################

crops {
    I:Argentia=145
    I:Blazereed=130
    I:Bobsyeruncleranks=127
    I:Brown_Mushrooms=143
    I:Coppon=142
    I:Corium=132
    I:Corpseplant=133
    I:Creeperweed=134
    I:Diareed=128
    I:Eggplant=131
    I:Enderbloom=135
    I:Flax=125
    I:Indigo=124
    I:Meatrose=136
    I:Milkwart=137
    I:Oilberries=126
    I:Plumbilia=146
    I:Red_Mushrooms=144
    I:Slimeplant=138
    I:Spidernip=139
    I:Tearstalks=140
    I:Tine=141
    I:Withereed=129
}


####################
# item
####################

item {
    I:CELLS=12500
    I:COMPONENTS=12501
    I:CheatyDevice=12502
    I:CloakingDevice=12503
    I:Crowbar=12504
    I:DIRTYDUSTS=12505
    I:DUSTS=12506
    I:Dataorb=12507
    I:DebugScanner=12508
    I:Destructopack=12509
    I:Drill_Advanced=12510
    I:Empty_Tool_01=12511
    I:Empty_Tool_02=12512
    I:Empty_Tool_03=12513
    I:Empty_Tool_04=12514
    I:Empty_Tool_05=12515
    I:Empty_Tool_06=12516
    I:FileBronze=12517
    I:FileIron=12518
    I:FileSteel=12519
    I:FileTungstenSteel=12520
    I:Flint_Axe=12521
    I:Flint_Hoe=12522
    I:Flint_Pickaxe=12523
    I:Flint_Shovel=12524
    I:Flint_Sword=12525
    I:HammerBronze=12526
    I:HammerIron=12527
    I:HammerPlastic=12618
    I:HammerRubber=12528
    I:HammerSteel=12529
    I:HammerTungstenSteel=12530
    I:HandheldSonictron=12531
    I:Heliumcoolant060k=12532
    I:Heliumcoolant120k=12533
    I:Heliumcoolant180k=12534
    I:INTEGRATED_CIRCUIT=12619
    I:IronMortar=12535
    I:JackHammerDiamond=12536
    I:JackHammerIron=12537
    I:JackHammerSteel=12538
    I:LIQUIDDISPLAY=12539
    I:Lamphelmet=12540
    I:LapotronicEnergycrystal=12541
    I:Lapotronpack=12542
    I:LavaFilter=12543
    I:LithiumbatteryEmpty=12544
    I:LithiumbatteryFull=12545
    I:Lithiumpack=12546
    I:MATERIALS=12547
    I:METAITEM_01=12548
    I:METAITEM_02=12549
    I:Mortar=12550
    I:NCSensorCard=12551
    I:NCSensorKit=12552
    I:NUGGETS=12553
    I:NaKcoolant060k=12554
    I:NaKcoolant120k=12555
    I:NaKcoolant180k=12556
    I:Neutronreflector=12557
    I:Rockcutter=12558
    I:SMALLDUSTS=12559
    I:Saw_Advanced=12560
    I:Saw_Bronze=12561
    I:Saw_Electric=12562
    I:Saw_Iron=12563
    I:Saw_Steel=12564
    I:Saw_Tungstensteel=12565
    I:Scanner=12566
    I:Screwdriver=12567
    I:Screwdriver_Electric=12568
    I:Screwdriver_Tungstensteel=12569
    I:SolderingLead=12570
    I:SolderingTin=12571
    I:SolderingTool=12572
    I:Spray_00=12573
    I:Spray_01=12574
    I:Spray_02=12575
    I:Spray_03=12576
    I:Spray_04=12577
    I:Spray_05=12578
    I:Spray_06=12579
    I:Spray_07=12580
    I:Spray_08=12581
    I:Spray_09=12582
    I:Spray_10=12583
    I:Spray_11=12584
    I:Spray_12=12585
    I:Spray_13=12586
    I:Spray_14=12587
    I:Spray_15=12588
    I:Spray_Bug=12589
    I:Spray_CFoam=12590
    I:Spray_Hardener=12591
    I:Spray_Hydration=12592
    I:Spray_Ice=12593
    I:Spray_Pepper=12594
    I:Steel_Axe=12595
    I:Steel_Hoe=12596
    I:Steel_Pickaxe=12597
    I:Steel_Shovel=12598
    I:Steel_Sword=12599
    I:TINYDUSTS=12600
    I:Teslastaff=12601
    I:TungstenSteel_Axe=12602
    I:TungstenSteel_Hoe=12603
    I:TungstenSteel_Pickaxe=12604
    I:TungstenSteel_Shovel=12605
    I:TungstenSteel_Sword=12606
    I:TurbineBronze=12607
    I:TurbineCarbon=12608
    I:TurbineMagnalium=12609
    I:TurbineSteel=12610
    I:TurbineTungstensteel=12611
    I:WrenchAdvanced=12612
    I:WrenchBronze=12613
    I:WrenchElectric=12614
    I:WrenchRefIron=12615
    I:WrenchSteel=12616
    I:WrenchTungstensteel=12617
}


