# Configuration file

####################
# block
####################

block {
    # This is the base ID blocks will assign from. Delete the other IDs here to auto-align to this value.
    I:BaseID=1631
    I:ID.BioFuel.Still=1600
    I:ID.Bricks=1601
    I:ID.CargoRailDropoffBlock=1602
    I:ID.CargoRailPickupBlock=1603
    I:ID.ChocolateMilk.Still=1604
    I:ID.ConveyorBlock=1605
    I:ID.DetCord=1606
    I:ID.FakeLaser=1607
    I:ID.MachineBlock=1608
    I:ID.MachineBlock1=1609
    I:ID.MachineBlock2=1610
    I:ID.Meat.Still=1611
    I:ID.Milk.Still=1612
    I:ID.MobEssence.Still=1613
    I:ID.MushroomSoup.Still=1614
    I:ID.PassengerRailDropoffBlock=1615
    I:ID.PassengerRailPickupBlock=1616
    I:ID.PinkSlime.Still=1617
    I:ID.RedNet.Cable=1618
    I:ID.RedNet.Logic=1619
    I:ID.RedNet.Panel=1620
    I:ID.Road=1621
    I:ID.RubberLeaves=1622
    I:ID.RubberSapling=1623
    I:ID.RubberWood=1624
    I:ID.Sewage.Still=1625
    I:ID.Sludge.Still=1626
    I:ID.StainedGlass=1627
    I:ID.StainedGlassPane=1628
    I:ID.Stone=1629
    I:ID.VineScaffold=1630
}


####################
# entity
####################

entity {
    # If true, using a portaspawner on an empty minecart will make it into a spawner cart
    B:EnableSpawnerCarts=true
    I:ID.Zoologist=330
}


####################
# general
####################

general {
    # A comma-separated list of entity IDs (e.g.: CaveSpider,VillagerGolem,butterflyGE) to blacklist from the AutoSpawner.
    S:AutoSpawner.Blacklist=

    # The work required to generate a mob in exact mode.
    I:AutoSpawner.Cost.Exact=50

    # The work required to generate a mob in standard (non-exact) mode.
    I:AutoSpawner.Cost.Standard=15

    # If true, biofuel will explode when in the nether.
    B:Biofuel.Exploding=true

    # If the number of entities in the breeder's target area exceeds this value, the breeder will cease operating. This is provided to control server lag.
    I:Breeder.ShutdownThreshold=50

    # If false, conveyors will not grab non-item entities. Breaks conveyor mob grinders but makes them safe for golems, etc.
    B:Conveyor.CaptureNonItems=true

    # If true, conveyors will NEVER capture players regardless of other settings.
    B:Conveyor.NeverCapturePlayers=false

    # If true, conveyors will NEVER capture Thaumcraft golems regardless of other settings.
    B:Conveyor.NeverCaptureTCGolems=false

    # If true, the fertilizer will use bonemeal as well as MFR fertilizer. Provided for those who want a less work-intensive farm.
    B:Fertilizer.EnableBonemeal=false

    # The rate at which fish are dropped from the fishing rod. The drop rate is 1 / this number. Must be greater than 0.
    I:FishDropRate=5

    # The work required by the drill to generate a single ore.
    I:LaserDrill.Cost=300

    # If true, Empty Syringes will be able to contain liquids and inject players.
    B:LiquidSyringes=true

    # If true, meat will be worth steak saturation instead of cookie saturation.
    B:Meat.IncreasedSaturation=false

    # Set to false to disable the harvester's sound when a block is harvested.
    B:PlaySounds=true

    # A comma-separated list of block IDs to prevent RedNet cables from connecting to.
    S:RedNet.ConnectionBlackList=

    # If true, RedNet cables will dump a massive amount of data to the log file. You should probably only use this if PC tells you to.
    B:RedNet.Debug=false

    # Set to true to enable the RedNet GUI's colorblind mode.
    B:RedNet.EnableColorblindMode=false

    # When searching for parts of a fruit tree, how far out to the sides (radius) to search
    I:SearchDistance.FruitTreeMaxHoriztonal=5

    # When searching for parts of a fruit tree, how far up to search
    I:SearchDistance.FruitTreeMaxVertical=20

    # When searching for players or dropoff locations, how far out to the sides (radius) to search
    I:SearchDistance.PassengerRailMaxHorizontal=3

    # When searching for players or dropoff locations, how far up to search
    I:SearchDistance.PassengerRailMaxVertical=2

    # How far upward to search for members of "stacking" blocks, like cactus and sugarcane
    I:SearchDistance.StackingBlockMaxVertical=5

    # When searching for parts of a tree, how far out to the sides (radius) to search
    I:SearchLimit.TreeMaxHorizontal=200

    # When searching for parts of a tree, how far up to search
    I:SearchLimit.TreeMaxVertical=256

    # If true, when you have no empty slots in your inventory, you will continue filling buckets from tanks and drop them on the ground.
    B:Tanks.FillWithoutEmptySlots=true

    # A comma-separated list of ore dictionary entrys to disable unifying for. By default, MFR will not attempt to unify anything with more than one oredict name.
    S:Unifier.Blacklist=dyeBlue,dyeWhite,dyeBrown

    # If true, allows vanilla glass panes to connect to MFR stained glass panes.
    B:VanillaOverride.GlassPanes=false

    # If true, enables MFR unmelting ice as well as vanilla ice.
    B:VanillaOverride.Ice=true

    # If true, replaces the vanilla milk bucket so milk can be placed in the world.
    B:VanillaOverride.MilkBucket=true

    # A comma-separated list of dimension IDs to disable MFR worldgen in. By default, MFR will not attempt worldgen in dimensions where the player cannot respawn.
    S:WorldGen.DimensionBlacklist=

    # Higher numbers make sewage lakes rarer. A value of one will be approximately one per chunk.
    I:WorldGen.LakeRarity.Sewage=32

    # Higher numbers make sludge lakes rarer. A value of one will be approximately one per chunk.
    I:WorldGen.LakeRarity.Sludge=32

    # Whether or not to generate MFR lakes during map generation
    B:WorldGen.MFRLakes=false

    # Whether or not to generate rubber trees during map generation
    B:WorldGen.RubberTree=false

    # A comma-separated list of biomes to disallow rubber trees to spawn in. Overrides any other biomes added.
    S:WorldGen.RubberTreeBiomeBlacklist=

    # A comma-separated list of biomes to allow rubber trees to spawn in. Does nothing if rubber tree worldgen is disabled.
    S:WorldGen.RubberTreeBiomeWhitelist=

    # If true, enable adding Sacred Rubber Sapling to jungle temple loot.
    B:WorldGen.SacredRubberSapling=true
}


####################
# item
####################

item {
    # This is the base ID items will assign from. Delete the other IDs here to auto-align to this value.
    I:BaseID=11987
    I:ID.BioFuel=16000
    I:ID.BioFuelBucket=16001
    I:ID.BlankRecord=16002
    I:ID.CeramicDye=16003
    I:ID.ChocolateMilkBucket=16004
    I:ID.FertilizerItem=16005
    I:ID.FishingRod=16006
    I:ID.Hammer=16007
    I:ID.LaserFocus=16008
    I:ID.MachineBlock=16009
    I:ID.MeatBucket=16010
    I:ID.MeatIngotCooked=16011
    I:ID.MeatIngotRaw=16012
    I:ID.MeatNuggetCooked=16013
    I:ID.MeatNuggetRaw=16014
    I:ID.Milk=16015
    I:ID.MilkBottle=16016
    I:ID.MobEssence=16017
    I:ID.MobEssenceBucket=16018
    I:ID.MushroomSoupBucket=16019
    I:ID.NeedleGun=16020
    I:ID.NeedleGun.Ammo.Anvil=16021
    I:ID.NeedleGun.Ammo.Empty=16022
    I:ID.NeedleGun.Ammo.Fire=16023
    I:ID.NeedleGun.Ammo.Lava=16024
    I:ID.NeedleGun.Ammo.Sewage=16025
    I:ID.NeedleGun.Ammo.Sludge=16026
    I:ID.NeedleGun.Ammo.Standard=16027
    I:ID.PinkSlimeBucket=16028
    I:ID.PinkSlimeball=16029
    I:ID.PlasticBag=16062
    I:ID.PlasticBoots=16063
    I:ID.PlasticCell=16030
    I:ID.PlasticCup=16031
    I:ID.PlasticSheet=16032
    I:ID.PortaSpawner=16033
    I:ID.RawPlastic=16034
    I:ID.RawRubber=16035
    I:ID.RedNet.MemoryCard=16036
    I:ID.RedNet.Meter=16037
    I:ID.Rocket=16038
    I:ID.RocketLauncher=16039
    I:ID.RubberBar=16040
    I:ID.Ruler=16041
    I:ID.SafariNet=16042
    I:ID.SafariNetJailer=16043
    I:ID.SafariNetLauncher=16044
    I:ID.SafariNetSingleUse=16045
    I:ID.Sewage=16046
    I:ID.SewageBucket=16047
    I:ID.Sludge=16048
    I:ID.SludgeBucket=16049
    I:ID.Spyglass=16050
    I:ID.Straw=16051
    I:ID.SugarCharcoal=16052
    I:ID.SyringeCure=16053
    I:ID.SyringeEmpty=16054
    I:ID.SyringeGrowth=16055
    I:ID.SyringeHealth=16056
    I:ID.SyringeSlime=16057
    I:ID.SyringeZombie=16058
    I:ID.Upgrade=16059
    I:ID.Upgrade.PRC=16060
    I:ID.XPExtractor=16061

    # If true, the ChunkLoader can be built out of cheaper materials. Does nothing if the recipe is disabled.
    B:Recipe.CheaperChunkLoader=false

    # If true, the DSU can be built out of chests instead of ender pearls. Does nothing if the recipe is disabled.
    B:Recipe.CheaperDSU=false

    # If true, the Guns will be craftable.
    B:Recipe.Guns=true

    # If true, mossy cobble can be crafted.
    B:Recipe.MossyCobble=false

    # If true, the safarinet launcher will be craftable.
    B:Recipe.NetLauncher=true

    # If true, the PortaSpawner will be craftable.
    B:Recipe.PortaSpawner=true

    # DSU recipes will always craft one DSU. Does nothing for recipes that already only craft one DSU (cheap mode, GT recipes, etc).
    B:Recipe.SingleDSU=false

    # If true, smooth double stone slabs can be craftable.
    B:Recipe.SmoothSlab=true

    # If true, the Syringes will be craftable.
    B:Recipe.Syringes=true

    # If true, SPAMRs will explode when they run out of fuel.
    B:SPAMR.Exploding=true
}


####################
# machine
####################

machine {
    I:AutoAnvil.ActivationCostMJ=16
    B:AutoAnvil.Recipe.Enabled=true
    I:AutoBrewer.ActivationCostMJ=4
    B:AutoBrewer.Recipe.Enabled=true
    I:AutoDisenchanter.ActivationCostMJ=32
    B:AutoDisenchanter.Recipe.Enabled=true
    I:AutoEnchanter.ActivationCostMJ=16
    B:AutoEnchanter.Recipe.Enabled=true
    B:AutoJukebox.Recipe.Enabled=true
    I:AutoSpawner.ActivationCostMJ=60
    B:AutoSpawner.Recipe.Enabled=true
    I:BioFuelGenerator.ActivationCostMJ=16
    B:BioFuelGenerator.Recipe.Enabled=true
    B:BioReactor.Recipe.Enabled=true
    I:BlockBreaker.ActivationCostMJ=96
    B:BlockBreaker.Recipe.Enabled=true
    I:BlockPlacer.ActivationCostMJ=1
    B:BlockPlacer.Recipe.Enabled=true
    I:BlockSmasher.ActivationCostMJ=1
    B:BlockSmasher.Recipe.Enabled=true
    I:Breeder.ActivationCostMJ=64
    B:Breeder.Recipe.Enabled=true
    I:Chronotyper.ActivationCostMJ=128
    B:Chronotyper.Recipe.Enabled=true

    # If true, the Chunk Loader will ignore forgeChunkLoading.cfg.
    B:ChunkLoader.IgnoreChunkLimit=false
    B:ChunkLoader.Recipe.Enabled=true

    # If true, the Chunk Loader will require that the player who placed it be online to function
    B:ChunkLoader.RequiresOwnerOnline=false
    I:Composter.ActivationCostMJ=2
    B:Composter.Recipe.Enabled=true
    B:DeepStorageUnit.Recipe.Enabled=true
    B:Ejector.Recipe.Enabled=true
    B:EnchantmentRouter.Recipe.Enabled=true
    I:Fertilizer.ActivationCostMJ=96
    B:Fertilizer.Recipe.Enabled=true
    I:Fisher.ActivationCostMJ=2
    B:Fisher.Recipe.Enabled=true
    I:Fountain.ActivationCostMJ=8
    B:Fountain.Recipe.Enabled=true
    I:FruitPicker.ActivationCostMJ=32
    B:FruitPicker.Recipe.Enabled=true
    I:Grinder.ActivationCostMJ=320
    B:Grinder.Recipe.Enabled=true
    I:Harvester.ActivationCostMJ=24
    B:Harvester.Recipe.Enabled=true
    B:ItemCollector.Recipe.Enabled=true
    B:ItemRouter.Recipe.Enabled=true
    B:LaserDrill.Recipe.Enabled=true
    I:LaserDrillPrecharger.ActivationCostMJ=500
    B:LaserDrillPrecharger.Recipe.Enabled=true
    I:LavaFabricator.ActivationCostMJ=20
    B:LavaFabricator.Recipe.Enabled=true
    B:LiquiCrafter.Recipe.Enabled=true
    B:LiquidRouter.Recipe.Enabled=true
    I:MeatPacker.ActivationCostMJ=2
    B:MeatPacker.Recipe.Enabled=true
    B:MobCounter.Recipe.Enabled=true
    I:MobRouter.ActivationCostMJ=256
    B:MobRouter.Recipe.Enabled=true
    I:OilFabricator.ActivationCostMJ=588
    B:OilFabricator.Recipe.Enabled=true
    I:Planter.ActivationCostMJ=16
    B:Planter.Recipe.Enabled=true
    I:Rancher.ActivationCostMJ=32
    B:Rancher.Recipe.Enabled=true
    B:RedNote.Recipe.Enabled=true
    B:Sewer.Recipe.Enabled=true
    I:Slaughterhouse.ActivationCostMJ=100
    B:Slaughterhouse.Recipe.Enabled=true
    I:SludgeBoiler.ActivationCostMJ=2
    B:SludgeBoiler.Recipe.Enabled=true
    I:SteamTurbine.ActivationCostMJ=8
    B:SteamTurbine.Recipe.Enabled=true
    B:Unifier.Recipe.Enabled=true
    I:Vet.ActivationCostMJ=32
    B:Vet.Recipe.Enabled=true
    I:WeatherCollector.ActivationCostMJ=4
    B:WeatherCollector.Recipe.Enabled=true
}


####################
# recipesets
####################

recipesets {
    # If true, MFR will register its GregTech-based recipes.
    B:EnableGregTechRecipes=false

    # If true, MFR will register its Thermal Expansion-based recipes.
    B:EnableThermalExpansionRecipes=true

    # If true, MFR will register its standard (vanilla-item-only) recipes.
    B:EnableVanillaRecipes=false
}


